@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');
body{
    width: auto;
    min-width: 1500px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    background-image: url('resources/bg.jpg');
    background-size: cover; /* Scales the image to cover the entire element */
    background-position: center; /* Centers the image */
}
#hmp{
    background-image: url('resources/bg.jpg');
}
html{
    height: 100%;
}
.headerbody{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 0px;
    background-color: rgba(232, 197, 229);
    padding: 10px;
    box-shadow: 0px 15px 10px -2px rgba(0,0,0,0.2);
    align-items: center;
}
.hmpgrect h1{
    font-family:'Inter';
    color: #000000;
    text-align: left;
    padding-left: 30px;
    font-size: 300%;
}
.hmpgrect{
    position: relative;
    width: 50%;
    height: 50px;
    margin-top: -70px;
    padding: 50px;
}
#centertopright{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 40px;
}
footer{
    font-family:'Inter' ;
    background-color:#E8C5E5;
    color: rgb(0, 0, 0);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 4px double black;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: auto;
}
.icon {
    margin-bottom: -2px;
    width: 20px; 
    height: 20px; 
}
.iconh1{
    margin-bottom: -7px;
    width: 50px; 
    height: 50px; 
}
#vscr{
    width: 200px;
    height: 250px;
}
#picfm{
    width: 364px;
    height: 210px;
}
.table1 {
    display: flex;
    text-align: left;
    width: 100%; ;
    justify-content: center;
    
}
table{
    width: 900px;
    height: 300px;
    border-collapse: collapse; /* Merge borders */
    box-shadow: 0px -5px 35px -3px rgba(0,0,0,0.26);
    border-radius: 8px;
}
td{
    padding: 10px;
    box-sizing: border-box;
    
}
.col1{
    width: 40%;
    background-color: #F7F9F2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.col2{
    width: 60%;
    background-color: #F7F9F2;
    vertical-align: top;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.table2{
    display: flex;
    justify-content: center; /* Center horizontally */
    width: auto;
}
p#Normaltext{
    font-family: 'Inter';
    font-size: 200%;
}
p#Normaltext a{
    text-decoration: none;
}
p#bp{
    font-family: 'Inter';
    font-size: 200%;
}
.col3{
    background-color: #F7F9F2;
    vertical-align: top;
    border-radius: 8px 0px 0px 8px;
}
td.center{
    text-align: center;
    background-color: #F7F9F2;
    vertical-align: top;
    border-radius: 0px 8px 8px 0px;
}
/*navi*/

.like img{
    width: 200px;
    height: 150px;
}
.navi{
    background-color: #E8C5E5;
    height: 50vh;
    width: 15%;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(189, 16, 16);
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-top: 10px;
    border:double 10px #0c4e22;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    clear: both;
    padding-bottom: 20px;
    box-shadow: 0px -5px 35px -3px rgba(0,0,0,0.3);
}
.navi span{
    font-family: 'Inter';
    font-size: 200%;
    color:#0c4e22;
}
/*nav*/
nav{
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    font-family: 'Inter';
    display: list-item;
    text-align: left;
    padding-top: 20px;
}
.navinline ul li{
    font-family: 'Inter';
    display: inline;
    text-align: center;
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    color: #0c4e22;
}
nav ul li a:hover{
    color: rgb(62, 5, 76);
}
nav ul li a:hover::before {
    content: ">>"; /* Adds the arrow after the content */
    color: inherit; /* Ensures the arrow takes the hovered color */
    margin-right: 12px;
}
.navinline ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 150%;
}
.navinline ul li a:hover{
    color: rgb(96, 24, 150);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.navinline ul li a:hover::before{
    content:"";
    margin-right: 0px;
}
/*--------------------End Sidebar----------------------------------*/

.contentmy-container{
    display: flex;
}
/*---------------------Content-Myj---------------------*/
.mainmy{
    background-color: #91DDCF;
    border: solid 5px #0c4e22;
    border-radius: 8px;
    margin: 20px;
    width: 800px;
    height: auto;
    float: right;
    flex-grow: 1;
    justify-content: center;
    box-shadow: 0px -5px 35px -3px rgba(0,0,0,0.4);
}
.content-top{
    background-color: #F19ED2;
    text-align: center;
    margin: 0;
    font-family: 'Inter';
}
.studyList{
    margin: 15px;
    padding-left: 25px;
    display: flex;
    align-items: flex-start;
}
.studyList h3{
    font-family: 'Inter';
    background-color: #F19ED2;
    width: auto;
    margin: 0;
    border-radius: 8px;
    padding: 5px;
}
.course{
    display: flex;
    margin: 15px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #F7F9F2;
    height: auto;
}
.content-course{
    flex: 1; /* Allows content-course to take available space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start;/* Align children to the start of the container */
    font-family: 'Inter';
}
.content-course h4{
    background-color: #E8C5E5;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 0;
    display: inline-block;
    width: auto;
}
.content-course p{
    font-family: 'Inter';
    background-color: white;
    border: solid 1px rgb(222, 222, 222);
    border-radius: 8px;
    padding: 10px;
    height: 100%;
    width: auto;
}
.content-pict{
    float: right;
    padding: 10px;
    padding-left: 30%;
}
#course-pic{
    border-radius: 8px;
    width: 220px;
    height: 150px;
}
.content-pict p{
    margin-top: 3px;
}
.content-pict p a{
    text-decoration: none;
}
/*--------------End-Content-for-My-journey-------------*/
.headContentmyf{
    background-color: #F7F9F2;
    margin:0;
    padding: 0;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 15px 10px -2px rgba(0,0,0,0.01);
}
.headContentmyf h2{
    font-family: 'Inter';
    font-size: 300%;
    margin: 0;
    padding: 5px;
}

.contentmyf-pict{
    text-align: center;
    margin-top: 20px;
    background: radial-gradient(c);
    
}
.contentmyf-pict p{
    font-family: 'Inter';
    margin-top: 5px;
    background-color: #F7F9F2;
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    margin: 15 auto;
}
#myfpict{
    width: 700px;
    height: 400px;
    box-shadow: 0px -5px 35px -3px rgba(0,0,0,0.4);
}
.description-contentmyf{
    background-color: #F7F9F2;
    width: 800px;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0px -5px 35px -3px rgba(0,0,0,0.22);
}
.description-contentmyf p{
    text-indent: 50px;
    font-family: 'Inter';
}